<div  id="rootdiv">
   <!-- <container-component>
      <header-component></header-component>
   </container-component> 
   <br>
   <container-component>   
      <main-component></main-component>
   </container-component>
   <br>
   <container-component>
      <footer-component></footer-component>
   </container-component>  -->
   <tr>
      <td> 
         <container-component>
            <login-component></login-component>
           </container-component>
      </td>

      <td>
         <container-component>
            <signup-component></signup-component>
           </container-component>
      </td>

   </tr>

   

</div>